

<img src="" alt="avatar">
<% if current_user.id == @user.id%>
    <button> editar foto de perfil </button>
<% end %>
<div>Soy <%= @user.user_name %></div>
<div> Estoy en el LVL <%= @user.lvl %></div>

<section><%= @user.description%></section>


    
